body {
  background-color: #E8ECEF;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: dimgray;
  background-color: lightblue;
  border-radius: 20px;
}

.display-3 {
  font-size: 4.0rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 15px;
}